In [39]:
range(1,20,2)

range(1, 20, 2)

In [40]:
a =list(range(1,20,2))
a

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [41]:
nations = ["A01","미국","A02","한국","A03","프랑스"]

In [42]:
i=0
while i < len(nations):
    if i%2 == 1:
        print(nations[i])
    i=i+1

미국
한국
프랑스

In [43]:
i=0
while i < len(nations):
    if i % 2 == 1 :
        print(nations[i])
    i=i+1

미국
한국
프랑스

In [44]:
i=4

In [45]:
if i % 2 == 1 :
    print(nations[i])

In [9]:
nations

['A01', '미국', 'A02', '한국', 'A03', '프랑스']

In [38]:
for i in range (0, len(nations)):
    if i % 2 != 1 :
        print(nations[i])

A01
A02
A03

In [19]:
list()

range(1, 10, 2)

In [4]:
a =list(range(1,10,2))
a

[1, 3, 5, 7, 9]

In [4]:
nations = ["A01","미국","A02","한국","A03","프랑스"] 

i = 0

while i < len(nations):
    if(i%2!=0):
        print(nations[i])
    i = i+1

미국
한국
프랑스

In [10]:
nations = ["A01","미국","A02","한국","A03","프랑스"] 

for i in range (0,len(nations),2):
    print(nations[i])

A01
A02
A03

In [18]:
nations = ["A01","미국","A02","한국","A03","프랑스"] 

for i in nations:
    if(nations.index(i)%2!=0):
        print(i)

미국
한국
프랑스